html{
    box-sizing: border-box;
}

.logo-search{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}

input{
    width: 550px;
    text-align: center;
    border: 0.5px solid #cfcac8;
    border-radius: 25px;
    padding: 14px;
    margin-top: 20px;
}

input:hover{
    border-style: groove;
    border-width: 1px;
    box-shadow: 2px 2px 5px 4px #eef0f0;
}

.buttons{
    margin-top: 30px;
}

#lucky, #search{
    margin-left: 10px;
    width: 136px;
    height: 35px;
    border: 0.5px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    color: rgb(110,110,110);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

#search:hover, #lucky:hover{
    border: 0.5px solid rgb(200, 200, 200);
}

.footer{
    display: grid;
    background-color:rgb(110, 110, 110);
    height: 76px;
    width: 100%;
    grid-template-columns: 100px 80px 50px 1000px 75px 75px auto;
    grid-template-rows: auto auto;
    row-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Text{
    margin-bottom: -75px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 12px;
}

#signin{
    height: 30px;
    width: 80px;
    border: 0.5px solid rgb(240, 240, 240);
    background-color: #4285f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    float: right;
}

a{
    color: inherit;
    text-decoration: inherit;
}

all{
    width: 100%;
    height: 100%;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#signin:hover{
    opacity: 0.8;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: grid;
    width: 98%;
    height: auto;
    grid-template-columns: auto 52px 50px 80px;
    grid-template-rows: 30px;
    column-gap: 8px;
    align-items: center;
}